{% extends './base.html'%}
{% load static %}

{% block title %}Edit Book{% endblock title %}


{%block content %}
<link rel="stylesheet" href="{% static 'css/editbook.css' %}">


<div class="editbooks">
    <div class="container">

        <div class="headerediting">
            <h1>Kitob Tahrirlash</h1>
            <p>Kitob haqida ma'lumotlarni tahrirlang</p>
        </div>

        <div class="row">
            <div class="col-8 formedit">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </form>
            </div>
            <div class="col-4 aboutbook">
                <div class="card-header">
                    <h2>Kitob haqida</h2>
                    <p>Kitob haqida ma'lumotlarni ko'ring</p>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>{{book.name}}</h2>
                    </div>
                    <div class="card-body">
                        <p><strong>Muallif:</strong> {{ book.author }}</p>
                        <p><strong>Haqida:</strong> {{ book.description }}</p>
                        
                    </div>
                </div>


            </div>
        </div>



    </div>
</div>






{% endblock content %}