.home-page{
    background-image: url(../images/main.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #8b0404;
  
}
.home{
    background:rgb(0 , 0, 0, 0.6);
    height: 80vh;
}

.home-title{
    padding-top: 320px;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: underline;
    text-decoration-color: #8b0404;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;     
}
.home-paragraph{
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

/*Email Sender*/
.emaolsender{
    margin-top: 15px;
}
.email{
    background-color: #8b0404;
    border-radius: 10px;
    padding: 20px;
}
.submit{
    background-color: #f4f4f4;
    color: #8b0404;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 58px;
}
.submit:hover{
    background-color: #8b0404;
    color: #f4f4f4;
}

/*About*/
.home-about-title{
    text-align: center;
    font-size: 30px;
    color: #8b0404;
    font-weight: bold;
    margin-top: 80px;
}
.par{
    text-align: justify;
    
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}
.image {
    margin-top: 80px;
    margin-left: 60px;
    width: 50px;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}


/* /*FOOTER*/
